@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

/*-----------------start header---------------------*/

header {
    background-image: url(images/headerbackground.svg);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(89.83deg, #FFFFFF 14.24%, #FFFFFF 14.25%, rgba(255, 255, 255, 0) 99.55%);
}

.header {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 91px;
    width: 90%;
}

.menu-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-right {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-right: 15px;
}

.menu .menu-list {
    display: flex;
    gap: 30px;
    text-decoration: none;
    margin-left: 170px;
}

.menu .menu-list li {
    list-style-type: none;
}

.header-intro {
    position: relative;
    z-index: 1;
    padding-top: 20px;
}

.menu-logo {
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    font-size: 24px;
    color: #252B42;
    padding-left: 150px;
}

.menu-list-item a {
    color: #737373;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-style: normal;
    list-style-type: none;
    padding: 20px;
    text-transform: capitalize;
}

.right-1 a {
    text-decoration: none;
    color: #FC724D;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.right-2 a {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    border-radius: 7px;
    background-color: #FC724D;
    padding: 15px 25px;
}

.right-2 i {
    color: #FFFFFF;
}

.header-intro {
    padding-left: 150px;
    margin-top: 150px;
}

.header-intro h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FC724D;
    width: 77px;
    height: 24px;
}

.header-intro h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 86px;
    letter-spacing: 0.2px;
    color: #252B42;
    width: 561px;
    height: 160px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.header-intro p {
    width: 450px;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 70px;
    letter-spacing: 0.2px;
    color: #737373;
}

.btn-join {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #FC724D;
    padding: 15px 40px;
    border: none;
    border-radius: 7px;
}

.btn-learn {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FC724D;
    margin-top: 70px;
    padding: 15px 40px;
    border: 2px solid #FC724D;
    border-radius: 7px;
    background: transparent;
}

/*------------end header------------------*/

/*--------------start section one--------------*/

.sec-one {
    width: 100%;
    height: 700px;
    background-color: #bdbdbd24;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sec-one-container{
    width: 1100px;
    height: 700px; 
    
}

.sec-one-txt {
    width: 350px;
    height: 100px;
    margin: 50px 0;
}

.sec-one-txt h6 {
    color: #FC724D;
    padding-bottom: 10px;
    font-size: 14px;
}


.sec-one-txt h2 {
    color: #252B42;
    padding-bottom: 10px;
    font-size: 30px;
}

.sec-one-txt p {
    color: #737373;
    font-size: 14px;
}

.sec-one-card-container {
    height: 500px;
    display: flex;
    justify-content :space-around;
    align-items: center;
    gap : 20px;
}

.sec-one-card {
    width: 240px;
    height: 288px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.sec-one-card:nth-child(3) {
    background-color:#FC724D;
    height: 300px;
    color: #FFFF;
    font-size: 15px;
}

.sec-one-card img{
    margin: 20px 20px 0;
}

.sec-one-card h5{
    margin: 10px 20px 10px;
    font-size: 16px;
}

.sec-one .divider{
    background-color: #FC724D;
    width: 30px;
    height: 2px;
    margin: 10px 20px 10px;
}

.divider-third-card {
    background-color: #FFFF;
    width: 30px;
    height: 2px;
    margin: 10px 20px 10px;
}

.sec-one-card p:not(p.third-card){
    margin: 15px 20px 10px;
    font-size: 14px;
    color: #737373;
}

.sec-one-card p.third-card{
    color:#FFFF;
    margin: 10px 20px 10px;
    font-size: 14px;
}

/*---------------End of section 1-----------------*/
/*----------------sec2-------------*/
.sec-two {
    width: 100%;
    height: 700px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
}

.sec-two .sec-two-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1050px;
    height: 363px;
    margin: auto;

}


.sec-two .sec-two-container .sec-two-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 507px;
    height: 296px;
}

.sec-two .sec-two-container .sec-two-txt h2 {
    width: 342px;
    height: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.sec-two .sec-two-container .sec-two-txt .divider {
    width: 94px;
    height: 7px;
    background-color: #E74040;
}


.sec-two .sec-two-container .sec-two-txt p {
    width: 351px;
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.sec-two .sec-two-container .sec-two-txt .url {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 140px;
    height: 24px;
}

.sec-two .sec-two-container .sec-two-txt .url a {
    width: 95px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FC724D;
    text-decoration: none;
}


.sec-two .sec-two-container .sec-two-video .sec-two-video-image {
    border-radius: 20px;
}
.sec-two-video{
    position: relative;}

.sec-two-video .sec-two-play{
    width:70px;
    height: 70px; 
     position: absolute;
     background: #E74040;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius:50% ;
     z-index: 1;
     top: 150px;
     right: 221px;
}


/*---------------sec 2----------------*/

/*--------------------sec 3----------------*/
.sec-three {
    height: 872px;
}

.sec-three-container {
    display: flex;
    gap: 85px;
    width: 1100px;
    margin: auto;
}

.sec-three-container .sec-three-images {
    position: relative;
    width: 500px;
    /* height: 872px; */
    margin-top: 150px;
}



.sec-three-container .sec-three-images .green {
    background-color: #5AACA8;
    width: 116px;
    height: 138px;
    position: absolute;
    left: 428px;
}

.sec-three-container .sec-three-images .doctor {
    background-image: url(images/docteur.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 425px;
    height: 506px;
    position: absolute;
    top: 29px;
    left: 86px;
    border-radius: 10px;
}

.sec-three-container .sec-three-images .patient {
    background-image: url(images/patient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 271px;
    height: 249px;
    position: absolute;
    top: 350px;
    border-radius: 10px;
}

.sec-three-container .sec-three-txt {
    width: 500px;
}

.sec-three-container .sec-three-txt .divider {
    width: 94px;
    height: 7px;
    background-color: #E74040;
    margin-top: 345px;
    margin-bottom: 35px;
}

.sec-three-container .sec-three-txt h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.sec-three-container .sec-three-txt p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 35px;
    color: #737373;
    margin-bottom: 35px;
}

.sec-three-container .sec-three-txt .url{
display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 140px;
    height: 24px;

}

.sec-three-container .sec-three-txt a {
    width: 95px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FC724D;
    text-decoration: none;
}

/*-------------------end sec3---------------*/

/*---------------------------sect 4----------------*/

.section-four {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 1096px;
}

.sec-four-container {
    display: flex;
    flex-direction: column;
    padding: 50px auto;
    gap: 112px;
    position: absolute;
    width: 1200px;
    height: 1096px;
    background-color: beige;

}

.sec-four-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 65px;
    width: 750px;
    height: 150px;
}


.sec-four-txt h6 {
    color: #FC724D;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    letter-spacing: 1px;
    padding: 5px;
}

.sec-four-txt h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 5px;
}

.sec-four-txt p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #737373;
    padding: 5px;
}

/*-------------------------sec 4 card-------------*/
.sec-four-card {
    display: flex;
    gap: 30px;
    padding: 0 65px;
    width: 240px;
    height: 626px;
}

/*----------------------sec 4 card 1------------------*/
.sec-four-card-one, .sec-four-card-two, .sec-four-card-three, .sec-four-card-four{
    position: relative;
}

.sec-four-card-one-img, .sec-four-card-two-img, .sec-four-card-three-img, .sec-four-card-four-img {
    width: 240px;
    height: 300px;
}

.sec-four-card-one-img image, .sec-four-card-two-img image, .sec-four-card-three-img image, .sec-four-card-four-img image {
    width: 100%;
}

.sec-four-card-one .sale, .sec-four-card-two .sale, .sec-four-card-three .sale, .sec-four-card-four .sale {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    padding: 7px 11px;
    color: #fff;
    background-color: #FC724D;
    border-radius: 7px;
}


.sec-four-card .sec-four-card-one .icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    gap: 18px;
    top: 250px;
    left: 58px;
    z-index: 1;
}

.sec-four-card .sec-four-card-one .icons .i-icons {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 6px;
}

.fisrturl {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    margin-top: 7px;
    align-items: center;
}

.sec-four-card-one-txt .fisrturl-url a {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #FC724D;
    text-decoration: none;
    width: 154px;
    height: 124px;
}

.sec-four-card-one-txt .fisrturl-icon {
    padding: 5px;
    width: 60px;
    height: 30px;
    background-color: #26335D;
    color: #fff;
    border-radius: 15px;
    align-items: center;
}

.sec-four-card-one-txt .fisrturl-txt {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.sec-four-card-one-txt .fisrturl-txt h5 {
    width: 131px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
    margin-left: 15px;
}

.sec-four-card-one-txt .fisrturl-txt p {
    width: 182px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 5px;
    margin-left: 15px;
}

.sec-four-card-one-txt .fisrturl-2nd-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin: 10px;
    margin-left: 15px;
}

.sec-four-card-one-txt .fisrturl-2nd-icon h6 {
    width: 57px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

.sec-four-card-one-txt .fisrturl-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 3px;
    gap: 15px;
    width: 108px;
    height: 34px;
    padding-left: 15px;
}

.sec-four-card-one-txt .fisrturl-price .first-price {
    width: 52px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #BDBDBD;
}

.sec-four-card-one-txt .fisrturl-price .second-price {
    width: 45px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0061FF;
}

.sec-four-card-one-txt .fisrturl-2nd-url {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    width: 142px;
    height: 44px;
    border: 1px solid #FC724D;
    border-radius: 37px;
    margin: 10px;
    margin-left: 10px;
}

.sec-four-card-one-txt .fisrturl-2nd-url a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #FC724D;
}

/*------------------sec4 card2 -------------*/
.sec-four-card-two {
    position: relative;
}

.sec-four-card-two-img {
    width: 240;
    height: 300px;

}

.sec-four-card-two-img image {
    width: 100%;
}

.sec-four-card .sec-four-card-two .sale {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    padding: 7px 11px;
    color: #fff;
    background-color: #FC724D;
    border-radius: 7px;
}

.sec-four-card .sec-four-card-two .icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    gap: 18px;
    top: 250px;
    left: 58px;
    z-index: 1;
}

.sec-four-card .sec-four-card-two .icons .i-icons {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 6px;
}

.sec-four-card .sec-four-card-two .sec-four-card-two-txt .fisrturl {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 10px;
    margin-top: 7px;
    align-items: center;
}

.sec-four-card-two-txt .fisrturl-url a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FC724D;
    text-decoration: none;
}

.sec-four-card-two-txt .fisrturl-icon {
    padding: 6px;
    background-color: #26335D;
    color: #fff;
    border-radius: 35px;
    align-items: center;
}

.sec-four-card-two-txt .fisrturl-txt {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.sec-four-card-two-txt .fisrturl-txt h5 {
    width: 131px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
    margin-left: 15px;
}

.sec-four-card-two-txt .fisrturl-txt p {
    width: 182px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 5px;
    margin-left: 15px;
}

.sec-four-card-two-txt .fisrturl-2nd-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin: 10px;
    margin-left: 15px;
}

.sec-four-card-two-txt .fisrturl-2nd-icon h6 {
    width: 57px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

.sec-four-card-two-txt .fisrturl-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 3px;
    gap: 15px;
    width: 108px;
    height: 34px;
    padding-left: 15px;
}

.sec-four-card-two-txt .fisrturl-price .first-price {
    width: 52px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #BDBDBD;
}

.sec-four-card-two-txt .fisrturl-price .second-price {
    width: 45px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0061FF;
}

.sec-four-card-two-txt .fisrturl-2nd-url {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    width: 142px;
    height: 44px;
    border: 1px solid #FC724D;
    border-radius: 37px;
    margin: 10px;
    margin-left: 10px;
}

.sec-four-card-two-txt .fisrturl-2nd-url a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FC724D;
}

/*---------------------sec 4 card 3------------------*/
.sec-four-card-tree {
    position: relative;
}

.sec-four-card-tree-img {
    width: 240;
    height: 300px;

}

.sec-four-card-tree-img image {
    width: 100%;
}

.sec-four-card .sec-four-card-tree .sale {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    padding: 7px 11px;
    color: #fff;
    background-color: #FC724D;
    border-radius: 7px;
}

.sec-four-card .sec-four-card-tree .icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    gap: 18px;
    top: 250px;
    left: 58px;
    z-index: 1;
}

.sec-four-card .sec-four-card-tree .icons .i-icons {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 6px;
}

.sec-four-card .sec-four-card-tree .sec-four-card-tree-txt .fisrturl {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 10px;
    margin-top: 7px;
    align-items: center;
}

.sec-four-card-tree-txt .fisrturl-url a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FC724D;
    text-decoration: none;
}

.sec-four-card-tree-txt .fisrturl-icon {
    padding: 6px;
    background-color: #26335D;
    color: #fff;
    border-radius: 35px;
    align-items: center;
}

.sec-four-card-tree-txt .fisrturl-txt {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.sec-four-card-tree-txt .fisrturl-txt h5 {
    width: 131px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
    margin-left: 15px;
}

.sec-four-card-tree-txt .fisrturl-txt p {
    width: 182px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 5px;
    margin-left: 15px;
}

.sec-four-card-tree-txt .fisrturl-2nd-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin: 10px;
    margin-left: 15px;
}

.sec-four-card-tree-txt .fisrturl-2nd-icon h6 {
    width: 57px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

.sec-four-card-tree-txt .fisrturl-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 3px;
    gap: 15px;
    width: 108px;
    height: 34px;
    padding-left: 15px;
}

.sec-four-card-tree-txt .fisrturl-price .first-price {
    width: 52px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #BDBDBD;
}

.sec-four-card-tree-txt .fisrturl-price .second-price {
    width: 45px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0061FF;
}

.sec-four-card-tree-txt .fisrturl-2nd-url {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    width: 142px;
    height: 44px;
    border: 1px solid #FC724D;
    border-radius: 37px;
    margin: 10px;
    margin-left: 10px;
}

.sec-four-card-tree-txt .fisrturl-2nd-url a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FC724D;
}

/*-------------------------sec 4 card 4-----------------------------*/
.sec-four-card-four {
    position: relative;
}

.sec-four-card-four-img {
    width: 240;
    height: 300px;

}

.sec-four-card-four-img image {
    width: 100%;
}

.sec-four-card .sec-four-card-four .sale {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    padding: 7px 11px;
    color: #fff;
    background-color: #FC724D;
    border-radius: 7px;
}

.sec-four-card .sec-four-card-four .icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    gap: 18px;
    top: 250px;
    left: 58px;
    z-index: 1;
}

.sec-four-card .sec-four-card-four .icons .i-icons {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 6px;
}

.sec-four-card .sec-four-card-four .sec-four-card-four-txt .fisrturl {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 10px;
    margin-top: 7px;
    align-items: center;
}

.sec-four-card-four-txt .fisrturl-url a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FC724D;
    text-decoration: none;
}

.sec-four-card-four-txt .fisrturl-icon {
    padding: 6px;
    background-color: #26335D;
    color: #fff;
    border-radius: 35px;
    align-items: center;
}

.sec-four-card-four-txt .fisrturl-txt {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.sec-four-card-four-txt .fisrturl-txt h5 {
    width: 131px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
    margin-left: 15px;
}

.sec-four-card-four-txt .fisrturl-txt p {
    width: 182px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 5px;
    margin-left: 15px;
}

.sec-four-card-four-txt .fisrturl-2nd-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin: 10px;
    margin-left: 15px;
}

.sec-four-card-four-txt .fisrturl-2nd-icon h6 {
    width: 57px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

.sec-four-card-four-txt .fisrturl-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 3px;
    gap: 15px;
    width: 108px;
    height: 34px;
    padding-left: 15px;
}

.sec-four-card-four-txt .fisrturl-price .first-price {
    width: 52px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #BDBDBD;
}

.sec-four-card-four-txt .fisrturl-price .second-price {
    width: 45px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0061FF;
}

.sec-four-card-four-txt .fisrturl-2nd-url {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    width: 142px;
    height: 44px;
    border: 1px solid #FC724D;
    border-radius: 37px;
    margin: 10px;
    margin-left: 10px;
}

.sec-four-card-four-txt .fisrturl-2nd-url a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FC724D;
}

/*----------------------end sec4-----------------*/

/*----------------------sec 5---------------------*/

.sec-five {
    margin: auto;
}

.sec-five .sec-five-text {
    margin-left: 180px;
    padding-top: 15px;
}

.sec-five .sec-five-text h6 {
    color: #FC724D;
    font-weight: 600;
}

.sec-five .sec-five-text h2 {
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    color: #252B42;
}

.sec-five .sec-five-text p {
    width: 400px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #737373;
}

.sec-five .sec-five-card {
    display: flex;
    align-items: center;
    margin: auto;
    width: 900px;
    margin-top: 25px;
    text-align: center;
}

.sec-five-card-one,
.sec-five-card-two {
    width: 400px;
    margin: auto;
    padding: 50px;
}

.sec-five-card-one h5,
.sec-five-card-two h5 {
    padding: 10px 0;
}

.sec-five .sec-five-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-1,
.img-2 {
    padding-bottom: 10px;
}

.star-icon {
    padding: 10px 0;
}

/*--------------------end sec 5----------------*/

/*--------------------sec6-------------------*/

.sec-six {
    width: 100%;
    height: 850px;
    background-color: #fff;
}

.sec-six .container {
    font-family: "montserrat", sans-serif;
    width: 1100px;
    height: 850px;
    padding: 100px 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sec-six .container .sec-six-txt h6 {
    font-size: 0.8em;
    color: #FC724D;
    padding: 15px 0;
}

.sec-six .container .sec-six-txt h3 {
    font-size: 2em;
    font-weight: 700;
}

.sec-six .container .sec-six-txt p {
    font-size: 0.8em;
    padding: 15px 0;
    width: 450px;
}

.sec-six-cards {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 400px;
    margin: auto;
    flex-wrap: wrap;
}

.sec-six-cards .sec-six-card-one,
.sec-six-card-two,
.sec-six-card-three,
.sec-six-card-four {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sec-six-cards .sec-six-card-one .card-one-img {
    background-image: url(images/card1\ sec\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.sec-six-cards .sec-six-card-two .card-two-img {
    background-image: url(images/card2\ sec6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.sec-six-cards .sec-six-card-three .card-three-img {
    background-image: url(images/card3\ sec\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.sec-six-cards .sec-six-card-four .card-four-img {
    background-image: url(images/card4\ sec6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.sec-six-cards .card-one-txt {
    width: 100%;
    height: 150px;
    text-align: center;
}

.sec-six-cards .card-one-txt h5 {
    font-size: 1em;
    margin-top: 25px;
}

.sec-six-cards .card-one-txt p {
    font-size: 0.6em;
    padding: 15px 0;
}

.sec-six-cards .card-one-txt .sec-social i {
    font-size: 1.5em;
    padding: 0 10px;
}

/*--------------------end sec 6-----------------*/

/*--------------sec 7----------------------*/

.sec-seven-container {
    width: 100%;
    position: relative;
    background-size: cover;
    padding: 100px 0;


}

.sec-seven-txt {
    text-align: center;
}
.sec-seven-txt p {
    width: 469px;
    font-size: 14px;
}
.box-color {
    color: rgb(227, 92, 43);
    line-height: 20px;
    font-size: 16px;
    margin-top: 20px;
    width: 82px;
    height: 24px;
    margin: auto;


}

.box-position {
    color: #252B42;
    line-height: 70px;
    font-size: 40px;
}

.box-paragraphe {
    line-height: 20px;
    letter-spacing: 0.2;
    height: 40px;
    width: 430px;
    text-align: center;
    margin: auto;
    font-weight: 400;

}

.sec-seven-form {
    width: 700px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.sec-seven-form form {
    padding-right: 72px;
    position: relative;
    width: 500px;

}

form {
    margin-top: 40px;
}

.search {
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    width: 100%;
    height: 58px;
    padding-left: 10px;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 117px;
    height: 58px;
    background: #FC724D;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    color: #E6E6E6;
    padding: 0 20px;
}

/*-----------------------end sec 7----------------*/

/*--------------------foooter----------------------*/

.footer-links {
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
    width: 1200px;
    margin: auto;
}

.box-decoration ul li a {
    text-decoration: none;
    color: #737373;
}

.box-decoration ul {
    font-size: 14px;
    line-height: 24px;
    list-style: none;
}

.box-decoration {
    width: 20%;
}

.box-style {
    font-size: 20px;
    line-height: 20px;
}

.box-style-color a {
    color: black;
}

.box-picture {
    width: 22px;
    height: 22px;
    padding-right: 5px;


}

.box-picture-size {
    width: 22px;
    height: 22px;
    padding-right: 5px;
}

.box-picture-color {
    width: 22px;
    height: 24px;
    padding-right: 8px;

}

.box-phone {
    padding-left: 60px;
}

.box-mail {
    padding-left: 40px;
}

.w30 {
    width: 30%;
}

footer {
    font-size: 14px;
}

footer h5 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-bottom {
    background-color: #FAFAFA;
}

.copyright {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1200px;
    justify-content: space-between;
}

.copyright>div {
    width: 50%;
}

.end {
    /* display: flex; */
    /* justify-content:end; */
    /* margin: auto; */
    /* align-items: center; */
    text-align: center;
}

.end a {
    margin-right: 15px;
}

.copyright h6 {
    line-height: 30px;
}

.fot p {

    font-size: 20px;
}

/*------------------------footer------------------------*/